* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* First section - Basic CSS */

.container,
.footer {  /* added footer background here */
    background-color: #1F2937;
}

header {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary,
a {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

img {
    width: auto;
    height: 300px;
}

/* Section 1.1 - CSS Flexbox */

/* issues to solve
1. the white background when the image overlaps
2. the content should only occupy portion of the screen and always get centered*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Section 1.2 - CSS Flexbox */

/* issues to solve
1. the white background when the image overlaps*/

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.secondary {
    padding-bottom: 10px;
}

button {
    padding: 5px 30px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

/* Section 2 */

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.information-secondary-text {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}


.image {
    height: 150px;
    width: auto;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.q {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    color: #1F2937;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

/* CTA Section */

.cta-container {
    padding: 50px;
}
.cta-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.cta-text {
    color: white;
    font-size: 18px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: white;
}

.container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}