
/* Reset styles */
* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


/* Layout 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DBD3D3;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
*/ 

/* Typography */

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem; /* Large heading */
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 2.8rem; /* Medium heading */
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 2rem; /* Smaller heading */
    line-height: 1.4;
    font-weight: 300;
    font-style: normal;
}

p {
    font-size: 1rem; /* Smaller heading */
    line-height: 1;
    font-weight: 400;
    font-style: normal;
}

q {
    font-size: 3rem; 
    line-height: 1;
    font-weight: 400;
    font-style: italic;
}

/* Buttons & Lists */

button {
    background-color: #EC8305;
    color: white;
    padding: .5rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: .5rem;
}

/* header section */

header {
    min-height: fit-content;
    background-color: #091057;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    gap: 2rem;
    flex-shrink: 1;

}

.about-us__content {
    background-color: #091057;
    color: white;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding: 7% 12%;
    justify-content: center;
    gap: 2rem;
}

.about-us__text {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.img-container {
    flex: 1;
    width: auto;
    height: auto;
}

.img-container img {
    height: 100%;
    width: 100%;
}

.category {
    height: auto;
    padding: 4% 12%;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    gap: 1rem;
}

.category__list img {
    border-radius: 10%;
    width: 200px;
    height: auto;
}

.category__list p {
    margin-bottom: 2rem;
}
.category h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.quote {
    height: auto;
    background-color: #DBD3D3;
    padding: 16% 16%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote p {
    margin-left: auto;
    margin-right: 12%;
}

.sign-up {
    height: auto;
    padding: 6% 16%;
}

.sign-up__content {
    background-color: #EC8305;
    border-radius: .3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    color: white;
    padding: 3rem;

}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #091057;
    color: white;
    padding: 2% 0;
}


